{% extends "base.html" %}
{% load static %}
{% block content %}



<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - {{total_cart_item}} items</h5>
          </div>
          {% if total_cart_item == 0 %}
          <div class="card-body">
          <p><strong>Currently No Items In Cart</strong></P>
          </div>
          {% else %}
          <div class="card-body">
            <!-- Single item -->
            {% for each in carts %}
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="{{each.items.item_image.url}}"
                    class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{each.items.item_name}}</strong></p>
                <p>Category: {{each.items.category}}</p>
                <p>Price: <strong>$</strong> {{each.items.price}}</p>

                <form action="{% url 'home:delete_cart' %}">
                  {% csrf_token %}
                  <input hidden type="text" name="cart_id" value="{{each.id}}">
                  <button type="submit" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="Remove item">
                    <i class="fa fa-trash"></i>
                  </button>
                </form>
                {% comment %} <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fa fa-heart"></i>
                </button> {% endcomment %}
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <form action="{% url 'home:cart_item_quantity' %}" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="food_id" value="{{each.items.id}}">
                <input hidden type="text" name="cart_id" value="{{each.id}}">
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button type="submit" name="decrement" class="minus btn btn-danger px-3 me-2">
                    <i class="fa fa-minus"></i>
                  </button>

                  <div class="form-outline">
                    <input id="form1" min="0" name="quantity" value="{{each.quantity}}" type="text" class="form-control" disabled />
                    <label class="form-label" for="form1">Quantity</label>
                  </div>
                  
                  <button type="submit" name="increment" class="plus btn btn-success px-3 ms-2">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                
                <!-- Quantity -->

                <!-- Price -->
                <p><strong>$ </strong>Total:<input class="text-start text-md-center form-control" type="text" name="total_price" value="{{each.price}}" disabled></p>
                </form>
                {% comment %} <p class="text-start text-md-center">
                  <strong>${{each.items.price}}</strong>
                </p> {% endcomment %}
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />
            {% endfor %}
            <!-- Single item -->
          </div>
          {% endif %}
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected delivery</strong></p>
            <p class="mb-0">Within an Hour</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
              alt="PayPal acceptance mark" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                All Total:
                <span><strong>$ </strong>{{all_total}}</span>
              </li>
              {% comment %} <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                VAT:
                <span>Gratis</span>
              </li> {% endcomment %}
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Grand Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>${{all_total}}</strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#checkoutForm">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- onclick="this.parentNode.querySelector('input[type=number]').stepDown()" -->
<!-- onclick="this.parentNode.querySelector('input[type=n]').stepUp()"> -->

<div class="modal fade" id="checkoutForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">CHECKOUT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="{% url 'home:checkout' %}" method= "POST" class="row g-3">
                        {% csrf_token %}
                     
                        <div class="col-12">
                            <label for="inputFirstName" class="form-label">Full Name</label>
                            <input name="full_name" type="text" class="form-control" id="inputFirstName" placeholder="John Doe">
                        </div>
                        <div class="col-md-8">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="example@mail.com">
                        </div>
                        <div class="col-md-4">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input name="phone" type="number" class="form-control" id="inputPhone">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <input name="city" type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <input name="state" type="text" class="form-control" id="inputState">
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input name="zip_code" type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}